
<div class="container">
  <div class="row">
    <div class="col">
      <mat-card  class="my-5" >
        <mat-card-header *ngIf="data!== null">
          <mat-card-title>{{data['city']?.name  + ' ' + '(' + zipCode + ')'}} </mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-3" *ngFor="let item of data['list'] | slice:0:5 ; let i = index ">
          <div class="row">
            <div class="col-6">
              <p>{{'Temp : '+  item.temp.day + ' ' + ' High: ' + ' ' +  item.temp.max  + ' ' + ' Low:  '  + item.temp.max}}</p>
            </div>
            <div class="col-6">
              <img alt="" class="resize" mat-card-image *ngIf="item.weather[0].main === 'Rain'" src='/assets/rain.png'>
              <img alt="" class="resize" mat-card-image *ngIf="item.weather[0].main === 'Clear'" src='/assets/sun.png'>
              <img alt="" class="resize" mat-card-image *ngIf="item.weather[0].main === 'Clouds'" src='/assets/clouds.png'>
              <img alt="" class="resize" mat-card-image *ngIf="item.weather[0].main === 'Snow'" src='/assets/snow.png'>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex align-items-end">
      <button mat-raised-button color="primary" (click)="getBack()">Back</button>
    </div>
  </div>
</div>




