<div class="container">
  <div class="row">
    <div class="col flex mt-5">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Add Location</mat-card-title>
          <mat-card-subtitle class="ml-5 mt-3">Enter a zipcode:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form class="form" autocomplete="on" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-6">
                <table class="full-width"><tr>
                  <td><mat-form-field class="full-width">
                    <mat-label>Zip Code</mat-label>
                    <input matInput #postalCode maxlength="5"
                           formControlName="zipCode"
                           placeholder="Ex. 94105"
                           [value]="94043"
                           (ngModelChange)="dataForm.value.zipCode">
                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                  </mat-form-field></td>
                </tr></table>
              </div>
              <div class="col-6 d-flex align-items-end">
                <button mat-raised-button color="primary" [disabled]="disabledButton">Add Location</button>
              </div>
            </div>
          </form>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


  <div class="row">
    <div class="col flex mt-5">
      <app-weathers-list [data]="data"  [zipCode]="zipCodes"></app-weathers-list>
    </div>
  </div>
</div>
