
<mat-card *ngFor="let weather of data; let i = index" class="my-5"  >
  <mat-icon aria-hidden="false" aria-label="close" class="close-button" (click)="onClose(i)">close</mat-icon>

  <mat-card-header>
        <mat-card-title>{{weather.name + ' ' }} {{'(' + zipCode[i] + ')'}}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col-6">
        <p>Current Conditions: {{weather.weather[0].main}} </p>
        <p>Temperature: {{weather.main.temp}}</p>
        <p>Max Today:  {{weather.main.temp_max}} - Min Today:  {{weather.main.temp_min}}</p>
      </div>
      <div class="col-6">
        <img alt="" class="resize" mat-card-image *ngIf="weather.weather[0].main === 'Rain'" src='/assets/rain.png'>
        <img alt="" class="resize" mat-card-image *ngIf="weather.weather[0].main === 'Clear'" src='/assets/sun.png'>
        <img alt="" class="resize" mat-card-image *ngIf="weather.weather[0].main === 'Clouds'" src='/assets/clouds.png'>
        <img alt="" class="resize" mat-card-image *ngIf="weather.weather[0].main === 'Snow'" src='/assets/snow.png'>
      </div>
      <div class="ml-3">
        <a [routerLink]="['/forecast', zipCode[i]]">Show 5-day forecast for {{weather.name}} </a>
      </div>

    </div>
  </mat-card-content>
</mat-card>

