<h2 mat-dialog-title>The zip code {{data['zipCode']}} has been added properly.</h2>
<h3 mat-dialog-title>Do you want to add another zip code?</h3>
<div mat-dialog-content></div>
<div mat-dialog-actions>
  <button mat-button mat-raised-button color="accent"  (click)="onNoClick()">No</button>
  <button mat-button mat-raised-button color="primary" (click)="onYesClick()" cdkFocusInitial>Yes</button>
</div>
